/* work sans font from google fronts */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

  *{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
  }
  .text-light-gray{
    color: #727272;
    }
    
      .btn-primary{
    border-radius: 8px;
    color: #fff;
    font-size: 1.25rem;
    background: orange;
    padding: 20px 25px;
    color: #fff;
    cursor:pointer ;
    border: 0;
  
  }
  
    .section-title{
    font-size: 2.8rem;
    font-weight: 700px;
    color: black;
  } 
  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    /* background-size: cover; */
    /* box-sizing: border-box; */
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* .nav-title{
    font-size: 2.8rem;
    font-weight: 700px;
    color: black;
  } */
  nav > ul{
    display: flex;
  }
  nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
    
  }
  nav li a{
    text-decoration: none;
    color:#424242;
  }
  /* Banner style */
  .banner-content{
    max-width: 800px ;
    text-align: center;
    margin:0 auto; 
  }
  .banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: black;
  }
/* .banner-description{
  color: #727272;
} */
.banner img{
  margin-top: 20px;
  width: 100%;
}
/* .btn-primary{
  border-radius: 8px;
  color: #fff;
  font-size: 1.25rem;
  background: orange;
  padding: 20px 25px;
  color: #fff;
  cursor:pointer ;
  border: 0;

} */


main{
  max-width: 1440px;
  margin: 70px auto;
}
/* team style */
.team-container{
  display:flex;
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns:repeat(2,1fr);
  gap:1.5rem;
  column-gap:1rem;
}
.team-content{
  padding-left: 70px;
  padding-right: 70px;
}
.team-title{
  font-size: 2.8rem;
}
.team-title .quick-list{
  /* color: #727272; */
  font-weight: 500;
}
.team-title .text-future{
  color: #ff990f ;
  font-weight: 700px;
}
/* future section style */
.future{
  margin-top:130px ;
  display: flex;
  gap: 100px;
}

.future .section-title{
  border-left: 5px solid #ff990f;
  margin-left: 20px;
}
.future-content .card{
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.ten-years-badge{
border-radius: 8px;
background: #FF900E;
color: #FFF;
width: 342px;
padding: 40px;
}
.ten-years-badge h2 {
font-size: 4rem;
}
/* facts section */
.facts-card-container{
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card {
  border: 8px;
  border: 1px solid #ff990f;
  text-align: center;
  padding: 30px;
 
}
.facts-card-container .card-title{
font-weight: 600;
font-size: 1.25rem;
margin-top: 5px;
}

.facts-card-container .card-stats{
  font-size: 2.8rem;
  color: #424242;
  margin-top: 10px ;
  margin-bottom: 10px;
}
/* sponsore style */
.sponsores{
  text-align: center;
}

.sponsores-img-container{
  margin-top: 50px;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;

}

.sponsores-img-container img{
  width: 165px;
}

/* reaponaive media quaries
mobile device */
@media screen and (max-width: 576px) {
  header{
     padding: 20px;
   }
  nav,
  .team-container, .facts-card-container, .sponsores-img-container{

    flex-direction: column;
   }
   .team-img-container{
    grid-template-columns:1fr ;
   }
   .team-content , .facts-card-container{
    padding-left: 20px;
    padding-right: 20px;
  }
  .facts-card-container{
    gap: 20px;
  }
 }
 /* tablet or medium device */
 @media screen and (min-width:576px) and (max-width:960px){
  header{
   padding: 50px;
  }
   nav, .team-container,
   .sponsores-img-container{
     flex-direction: column;
   }
   
 }
